@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Work+Sans:ital,wght@0,500;1,500&display=swap');

:root {
  --primary-color: #012C6D;
  --secondary-color: #012C6D;
  --tertiary-color: #E0F7F4;
  --quaternary-color: #3D83DF;
  --quinary-color: #00C3A5;
}

:global(html) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(body) {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80rem;
  margin: 5rem auto 0 auto;
}

:global(.leftTabsContentGallery-js-module),
.layout {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:global(.title) {
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: var(--secondary-color);
}

:global(.subtitle) {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4rem;
}