.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  width: 40%;
}

.paragraphText {
  color: var(--secondary-color);
}

.menuItem {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 1rem;
  position: relative;
  padding-left: 1.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #EDEFF2;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

.menuItem.selected {
  background-color: #EDEFF2;
}

.menuItem .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menuItem.selected .item .itemArrow {
  fill: var(--quinary-color);
}

.menuItem .item .itemArrow {
  fill: var(--senary-color);
}

.image {
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  background-color: white;
  width: 60%;

  transition: ease-in-out 0.3s;
}

.labelText {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  background-color: var(--tertiary-color);
  width: fit-content;
  padding: 0 5px;
  margin: 0;
}

.contentTitle {
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
  padding: 0.5rem 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: var(--quaternary-color);
  width: 100%;
  padding: 0.5rem 0;
}

.arrowButton {
  padding: 10px 15px;
  background-color: var(--quaternary-color);
}

button {
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--quaternary-color);
}

.icon_left {
  transform: scaleX(-1);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: grey;
}